.signin__form {
  display: flex;
  flex-direction: column;

  width: 420px;
  row-gap: 1.5rem;
}

.signin__input {
  padding: .9rem;

  border-radius: 15px;
  border: 2px solid var(--desc-colro);
  color: var(--body-color);
  background-color: var(--btn-bg);
}

.signin__btn {
  padding: .8rem;

  border-radius: 15px;
  border: 2px solid var(--btn-bg);
  background-color: var(--body-color);
}